.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.r-container {
  width: 500px;
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  background-color: #858792;
  color: white;
}

.result {
  margin: 0;
  padding-right: 5px;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

.digits {
  display: flex;
  width: 500px;
}

.btn {
  border: 1px solid #d1d1d1;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-weight: 700;
}

.btn-4,
.btn-8,
.btn-12,
.btn-16,
.btn-19 {
  background: #f4903f;
}

.btn-17 {
  width: 410px;
}
