@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

/* body {
  width: 100%;
  height: 100vh;
}

/* .Cal-app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
} */

/* .Calculator {
  margin: 0 auto;
  width: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
}

.main-cal {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.result {
  background-color: #858694;
  color: white;
  display: flex;
  justify-content: end;
}

button {
  border: 1px solid white;
  font-size: 12px;
  text-align: center;
}

.digits {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.digits button {
  background-color: #e0e0e0;
  outline: none;
}

.button-0 {
  grid-column: 1/3;
}

.operators {
  display: flex;
  flex-direction: column;
}

.operators button {
  outline: none;
  background-color: #f5913e;
} */

.Calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
}

/* .digits {
  display: flex;
} */

button {
  width: 20%;
  background-color: #e0e0e0;
}

.operator {
  background-color: #f5913e;
}

.result {
  display: flex;
  justify-content: flex-end;
  background-color: #e0e0e0;
  width: 80%;
}

.bottom-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* .button-0 {
  grid-column: 1/2;
} */
